<% include ./partials/header.ejs %>
<body class="main_body">
<div class="container">
        <div class="">
            <div class="Absolute-Center">
                <div class="box">
                        <h3>Please select your date</h3>
                        <form action="/data" method="GET">
                            <input type="text" class="datepicker" name="date[date]" placeholder="Choose a date">
                            <p><% include ./partials/variable.ejs%></p><br>
                            <input type="submit" value="Search" class="btn">
                            
                        </form>

                </div>
            </div>
                            
        </div>

<% include ./partials/footer.ejs %>
