<% include ./partials/header.ejs %>
<body class="main_body">
<div class="container">
        <div class="">
            <div class="Absolute-Center">
                <div class="box">
                        <h3>Upload File</h3>
                        <p>Please select your (.csv) file</p>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <input type="file" name="fluxFile" accept=".csv">
                            <input type="submit" value="Submit" class="btn">
                        </form>
                </div>
            </div>
                            
        </div>

<% include ./partials/footer.ejs %>
