.main_body{
    background: 
        linear-gradient(
            rgba(189, 148, 90, 0.56),
            rgba(128, 0, 43, 0.53)
        ), 
        url("./img/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.data_body{
    background: 
        linear-gradient(
            rgba(189, 148, 90, 0.56),
            rgba(128, 0, 43, 0.53)
        ), 
        url("./img/ulm_logo.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
::selection {
    background: #800029;; /* WebKit/Blink Browsers */
  }
::-moz-selection {
background: #800029;; /* Gecko Browsers */
}
.Center-Container {
    position: relative;
  }
  
  .Absolute-Center {
    height: 600px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .box{
    text-align: center;
    background-color: rgba(128, 0, 43, 0.53);
    border-radius: 5%;
    color: white;
    padding: 50px;
    width: 600px;
    min-height: 300px;
    margin: 0px auto;
  }
  .title{
      padding: 5px;
  }

  button{
      margin: 10px;
      cursor: pointer;
  }

  .box img{
      width: 200px;
      height: 200px;
  }

  .btn{
      background-color: #bd955a;
      border-color: #bd955a;
  }

  .btn:hover, .btn:active{
      background-color: #800029;
      border-color: #bd955a;
  }

  .btn:focus{
      box-shadow: 0 0 0 3px rgba(128, 0, 43, 0.53);
      background-color: #800029;
  }

  .picker__date-display{
      background-color: #800029;
  }

  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
      background-color: #800029;
  }

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.62);
}

.table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: rgba(128, 0, 45, 0.79);
    color: white;
}

#dropdown1 p{
    padding-left: 10px;
    width: 100%;
}

.variable{
    width: 100%;
}

label{
    width: 100%;
    color: rgba(0,0,0,0.87);
}

[type="checkbox"]:checked+label:before{
    border-right: 2px solid #802b3d;
    border-bottom: 2px solid #802b3d;
}